In [20]:
import pandas as pd

In [21]:
df=pd.read_csv("C:\\Users\\Harpreet\Desktop\\Jupyter_Files\\Black_Friday_Analysis\\BlackFriday.csv")

del df['Product_Category_2']
del df['Product_Category_3']
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969
...,...,...,...,...,...,...,...,...,...,...
537572,1004737,P00193542,M,36-45,16,C,1,0,1,11664
537573,1004737,P00111142,M,36-45,16,C,1,0,1,19196
537574,1004737,P00345942,M,36-45,16,C,1,0,8,8043
537575,1004737,P00285842,M,36-45,16,C,1,0,5,7172
537576,1004737,P00118242,M,36-45,16,C,1,0,5,6875

In [22]:
print(df['User_ID'].nunique())
print(df['Product_ID'].nunique())
print(df['Age'].nunique())
##and so on

5891
3623
7

In [23]:
print(df['City_Category'].unique())
print(df['Gender'].unique())
print(df['Age'].unique())
##and so on

['A' 'C' 'B']
['F' 'M']
['0-17' '55+' '26-35' '46-50' '51-55' '36-45' '18-25']

In [28]:
for column in df.columns:
    print(column,':',df[column].nunique())

User_ID : 5891
Product_ID : 3623
Gender : 2
Age : 7
Occupation : 21
City_Category : 3
Stay_In_Current_City_Years : 5
Marital_Status : 2
Product_Category_1 : 18
Purchase : 17959